body {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #ffffff;
}

b {
    color: #000000;
}
top3 {
  font-size: 200%
}

p {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #000000;
}

h1 {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 300%;
    padding-top: 70px;
}

h2 {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 300%;
    margin-top: 20px
}

h3 {
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 300%;
    margin-top: 20px;
    margin-left: 0px;
    padding-top: 13px;
    text-align: left;
    padding-left: 20px;
}

h4 {
    color: #ffffff;
    margin-top: 16px;
}


h5 {
    color: #b40404;
}

h6 {
    color: #ffffff;
    font-size: 150%
}


.click {
    color: #000000;
    font-size: 150%;
}


table {
    border-style: hidden;
    border-color: #ffffff;
    font-size: 150%;
    padding: 3px;
    width: 90%;
    margin: auto;
    border-width: 2px;
}

th {
    color: #ffffff;
    font-family: Arial, Helvetica, Helvetica, sans-serif;
}

tr {
    border-style: solid;
    border-color: #ffffff;
}

td {
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    color: #ffffff;
    font-family: Arial, Helvetica, Helvetica, sans-serif;
    font-size: 100%
}

div.container {
    width: 1280px;
    height: 960px;
    margin: auto;
    text-align: center;
    border-style: dashed;
}

div.header {
    background-color: #0078ff;
    width: 1280px;
    height: 200px;
    margin: -32px 0px 20px 0px;
    border-radius: 40px;
    position: relative;

}

div.productheader {
    background-color: #0078ff;
    width: 800px;
    height: 80px;
    margin: 20px 20px 0px 0px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    float: left;
}

div.product {
    background-color: #0078ff;
    width: 800px;
    height: 640px;
    margin: 0px 20px 0px 0px;
    border-bottom-right-radius: 40px;
    position: relative;
    float: left;
    overflow-y: scroll;
}

div.order {
  background-color: #0078ff;
  width: 440px;
  height: 720px;
  margin: 20px 0px 20px 20px;
  border-radius: 40px;
  position: relative;
  float: right;
  overflow-y: scroll;
}

div.checkout {
    background-color: #0078ff;
    width: 210px;
    height: 55px;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    position: relative;
    float: left;
}

.checkout:hover {
    background-color: #184da3;
}

div.item {
    background-color: #ffffff;
    width: 250px;
    height: 210px;
    border-radius: 20px;
    margin: 6px 6px 6px 6px;
    position: relative;
    float: left;
}

.item:hover {
    background-color: #e8e8e8;
}

div.billheader {
    background-color: #0078ff;
    width: 1280px;
    height: 80px;
    margin: 40px 0px 0px 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
}

div.bill {
    background-color: #0078ff;
    width: 1280px;
    height: 470px;
    margin: 0px 0px 20px 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    overflow-y: scroll;
}

div.price {
    background-color: #0078ff;
    width: 800px;
    height: 130px;
    margin: 20px 20px 0px 0px;
    border-radius: 40px;
    position: relative;
    float: left;
}

div.login {
    background-color: #0078ff;
    width: 1280px;
    height: 500px;
    margin: 0px 0px 0px 0px;
    border-radius: 40px;
    position: relative;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

div.loginbox {
    display: inline-block;
    height: auto;
    margin: auto;
    text-align: left;
    padding-top: 150px;
}

div.cooks {
  background-color: #0078ff;
  width: 1280px;
  height: 500px;
  margin: 20px 0px 20px 0px;
  border-radius: 40px;
  position: relative;
  overflow-y: scroll;
}
div.count {
  background-color: #0078ff;
  width: 1280px;
  height: 200px;
  margin: 20px 0px 0px 0px;
  border-radius: 40px;
  position: relative;
}

div.loginwrapper {
  width: auto;
  height: auto;
  display:inline-block;
}

div.prices {
    background-color: #0078ff;
    width: 800px;
    height: 640px;
    margin: 0px 20px 0px 0px;
    border-bottom-right-radius: 40px;
    position: relative;
    float: left;
    overflow-y: scroll;
}


div.pricesheader {
    background-color: #0078ff;
    width: 800px;
    height: 80px;
    margin: 20px 20px 0px 0px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    float: left;
}


div.foodandq {
    background-color: #0078ff;
    width: 440px;
    height: 720px;
    margin: 20px 0px 20px 20px;
    border-radius: 40px;
    position: relative;
    float: right;
    overflow-y: scroll;
}


div.foodandqheader {
    background-color: #0078ff;
    width: 400px;
    height: 80px;
    margin: 40px 0px 0 px 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    float: left;
}