{# An html page for the cashier with the order of the account and the price. Also includes 4 buttons for 4 different
ways to pay, which also includes a reset for the card. #}

{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Cashier</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
        <input type="button" value="Return" onclick="redirect('menu')" style="cursor: pointer;"/>
    </div>
    <div class="billheader">
        <h2>Checkout-bill</h2>
    </div>
    <div id="bill">
        <table>
            <tr>
                <th style="width: 200px;">product id</th>
                <th style="width: 800px;">product name</th>
                <th style="width: 152px;">price</th>
            </tr>
            {% if items %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.food.name }}</td>
                        <td>€{{ item.food.price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h2>No orders made.</h2>
            {% endif %}
        </table>
    </div>
    <div class="price">
        <h3>Price: € {{ price }}</h3>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Cash</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>PIN</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Credit card</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Check</h4>
    </div>
</div>

{% if doreload %}
    <script>
        // reloads if a request has been done
        function checkRefresh() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    if (data.isdata) {
                        window.location.reload();
                    }
                }
            };
            xmlhttp.open("GET", "getbill", true);
            xmlhttp.send();
        }

        window.setInterval(checkRefresh, 250);
    </script>
{% endif %}
<script>
    function redirect(site) {
        window.location = site;
    }
</script>
</body>

</html>
