{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{%  static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>Cashier</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
    </div>
    <div class="billheader">
        <h2>Checkout-bill</h2>
    </div>
    <div class="bill">
        <table>
            <tr>
                <th style="width: 200px;">product id</th>
                <th style="width: 800px;">product name</th>
                <th style="width: 152px;">price</th>
            </tr>
            {% if items %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.food.name }}</td>
                        <td>€{{ item.food.price }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div class="price">
        <h3>Price: €{{ price }}</h3>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Cash</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>PIN</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Credit card</h4>
    </div>
    <div class="checkout" onclick="location.href='checkout?swipeid={{ id }}';" style="cursor: pointer;">
        <h4>Check</h4>
    </div>
</div>
{% if not items %}
    <script>window.setTimeout(location.reload, 500)</script>
{% endif %}
</body>

</html>
