{# A page for the cooks. Open orders are copied on this page and #}
{# cooks can remove them if they're done by pushing a button with remove. #}

{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Cooks</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
        <input type="button" value="Return" onclick="redirect('menu')" style="cursor: pointer;"/>
    </div>
    <div class="cooks">
        <table id="ordered">
            <tr>
                <th style="width: 300px;">product</th>
                <th style="width: 300px;">done</th>
            </tr>
            {% if orders %}
                {% for order in orders %}
                    <tr food="{{ order.food.name }}">
                        <td>{{ order.food.name }}</td>
                        <td>
                            <button onclick="removeItem(this)">done</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
</body>

<script>
    // removes the order from the cook page
    function removeItem(r) {
        var i = r.parentElement.parentElement.rowIndex;
        var request = new XMLHttpRequest();
        request.open("GET", "confirmorder?food=" + r.parentElement.parentElement.attributes.food.value);
        request.send();
        document.getElementById("ordered").deleteRow(i);
    }

    function redirect(site) {
        window.location = site;
    }

    window.setTimeout(function () {
        location.reload();
    }, 10 * 1000);


</script>
</html>
