{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%  static 'stylesheet.css' %}">
</header>
<title>Login</title>
</head>
<body>
<div class="container">
  <div class="login">
    <div class="loginbox">
        {% if Error %}
        <h5> Invalid credentials! </h5>
        {% endif %}
        {% if Logout %}
        <h4> You have been logged out. </h4>
        {% endif %}
      <form action="verify" method="post">
          {% csrf_token %}
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
</body>
</html>
