{# The html for the login page. It contains fields for the credentials and #}
{# errors and messages for the redirects to this page.#}

{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{%  static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title> Login </title>
</head>

<body>
<div class="container">
    <div class="header">
        <h1> Login Card system Cafe - bar Celona </h1>
    </div>
  <div class="login">
    <div class="loginbox">
        <!-- The error this page will give when redirected to login with an error = True -->
        {% if Error %}
        <h5> Invalid credentials! </h5>
        {% endif %}
        <!-- The message this page will give when redirected to login with a logout label -->
        {% if Logout %}
        <h4> You have been logged out. </h4>
        {% endif %}
      <form action="verify" method="post">
          {% csrf_token %}
        Username:<br>
        <input type="text" name="username"><br>
          <br>
        Password:<br>
        <input type="password" name="password"><br>
          <br>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
</body>
</html>
