{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Menu</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
    </div>
    <div class="login">
        <h2>I am a...</h2>
        {% if perms.restaurant.permission.isWaiter %}
            <a href="waiter">Waiter</a><br>
        {% endif %}
        {% if perms.restaurant.permission.isCashier %}
            <a href="cashier">Cashier</a><br>
        {% endif %}
        {% if perms.restaurant.permission.isCook %}
            <a href="cooks">Cook (only avaible in beta)</a><br>
        {% endif %}
    </div>
</div>


</body>
