{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Menu</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
    </div>
    <div class="login">
        <h2>I am a...</h2>
        <div class="loginwrapper">
            {% if perms.restaurant.isWaiter %}
                <div class="item" onclick="redirect('waiter')" style="cursor: pointer;">
                    <p>Waiter</p>
                </div>
            {% endif %}
            {% if perms.restaurant.isCashier %}
                <div class="item" onclick="redirect('cashier')" style="cursor: pointer;">
                    <p>Cashier</p>
                </div>
            {% endif %}
            {% if perms.restaurant.isCook %}
                <div class="item" onclick="redirect('cooks')" style="cursor: pointer;">
                    <p>Cook (only available in beta version)</p>
                </div>
            {% endif %}
        </div>
        <br>
        <input type="button" value="logout" onclick="redirect('logout')"/>
    </div>
</div>
<script>
    function redirect(site) {
        window.location = site;
    }
</script>


</body>
