<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Waiter</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Cafe-bar Celona</h1>
    </div>
    <div class="productheader">
        <h2>Menu</h2>
    </div>
    <div class="order">
        <h2>Ordered</h2>
        <table id="ordertable">
            <tr>
                <th style="width: 300px">product</th>
                <th>remove</th>
            </tr>
        </table>
    </div>
    <div class="product">
        {% if foods %}
            {% for food in foods %}
                <div class="item" onclick="moveItem('{{ food.name }}');" style="cursor: pointer;">
                    <p id="{{ food.name }}">{{ food.name }}</p>
                    <b>&#x20AC;</b><b id="{{ food.name }}Price">{{ food.price }}</b>
                    <p style="margin: 5px;">{{ food.descr }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>//by clicking, move menu item to order list
function moveItem(productname) {
    var table = document.getElementById("ordertable");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell3 = row.insertCell(1);
    cell1.innerHTML = productname; //item name
    cell3.innerHTML = '<button onclick="removeItem(this)">remove</button>'
}

function removeItem(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("ordertable").deleteRow(i);
}
</script>


</body>

</html>
